<div class="post">
				<div class="bg1">
					<div class="bg2">
						<div class="bg3">
<h2 class="title"> Nuevo profesor </h2>
	<div class="entry">	 

<%= render 'form' %>
</div>
						</div>
					</div>
				</div>
</div>

<div id="label">
<%= link_to 'Ver profesores', profesors_path %>
</div>