<div class="post">
				<div class="bg1">
					<div class="bg2">
						<div class="bg3">
<h2 class="title"> Detalle Profesor </h2>
	<div class="entry">	 

<p>
  <b>User:</b>
  <%= @profesor.user.username %>
</p>

<p>
  <b>Course:</b>
  <%= @profesor.course.curso %>
</p>
 </div>
						</div>
					</div>
				</div>
</div>

<div id="label">
<%= link_to 'Editar', edit_profesor_path(@profesor) %> |
<%= link_to 'Ver profesores', profesors_path %>
</div>