<div class="post">
				<div class="bg1">
					<div class="bg2">
						<div class="bg3">
						
	<h2 class="title">Editando el comentario</h2>
		<div class="entry">
		
<%= render 'form' %>
<div id="label>
<%= link_to 'Ver', @comment %> |
<%= link_to 'Ver todos', comments_path %>
</div>

  </div>
</div>
  </div>
</div>
  </div>