<% content_for :title, "TallerHans | Temas" %>
<% content_for :log, true %>



<% @comments.each do |com| %>
   <% if can_see(com)  %>
	<%= render com if com.parent_id==nil %>
   <% end %>  
<% end %>

<br />

<% if current_user && profesor? %>
	<% if can? :create, Comment  %>
<div id="label">

			<div class="post">
				<div class="bg1">
					<div class="bg2">
						<div class="bg3">
	<h2 class="title">Nuevo Tema</h2>					

		<div class="entry">
			<%= render 'form' %>
		</div>
						</div>
  					</div>
				</div>
			</div>


</div>

<% end %>
<% end %>
<div style="margin-top:5px;height:10px;">
</div>


    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
      
<script type="text/javascript">
$("h2 span.oculto").hide();
$("h2.title a").mouseenter(function(){
  $("h2 span.oculto").show();
});
$("h2.title a").mouseleave(function(){
  $("h2 span.oculto").hide();
});


</script>
