<% @comments.each do |com| %>
   <% if can_see(com)  %>
	<%= render com if com.parent_id==nil %>
   <% end %>  
<% end %>

<br />
<% if current_user && profesor? %>
	<% if can? :create, Comment  %>
<div id="label">
<%= link_to 'Nuevo Commentario', new_comment_path %>
</div>
<% end %>
<% end %>