<div class="post">
				<div class="bg1">
					<div class="bg2">
						<div class="bg3">
						
<h2 class="title">Información del tipo</h2>


<p>
  <b>Type name:</b>
  <%= @type.type_name %>
</p>

						</div>
					</div>
				</div>
</div>
<div id="label">
<%= link_to 'Editar', edit_type_path(@type) %> |
<%= link_to 'Ver todos los tipos', types_path %></div>
</div>
