<div class="post">
				<div class="bg1">
					<div class="bg2">
						<div class="bg3">
						
	<h2 class="title"><a href="#">Home</a></h2>
		<div class="entry">
		   <p class="meta">	Estás conectado a taller web </p>
		   <p>A esta página solo puedes acceder cuando estás conectado</p>
		</div>
						</div>
					</div>
				</div>
</div>

<div class="post">
				<div class="bg1">
					<div class="bg2">
						<div class="bg3">
						
	<h2 class="title"><a href="#">Ventana adicional</a></h2>
		<div class="entry">
		   <p class="meta"> Es solo para rellenar </p>
		   <p>No es la única...</p>
		</div>
						</div>
					</div>
				</div>
</div>

<div class="post">
				<div class="bg1">
					<div class="bg2">
						<div class="bg3">
							<h2 class="title"><a href="#">Lorem ipsum sed aliquam</a></h2>
							<div class="entry">
								<p class="meta">Posted by <a href="#">Someone</a> on July 8, 2011
									&nbsp;&bull;&nbsp; <a href="#" class="comments">Comments (64)</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
								<p>Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla tortor, elementum vel, tempor at, varius non, purus. Mauris vitae nisl nec metus placerat consectetuer. Donec ipsum. Proin imperdiet est. Phasellus <a href="#">dapibus semper urna</a>. Pellentesque ornare, orci in consectetuer hendrerit, urna elit eleifend nunc, ut consectetuer nisl felis ac diam. Etiam non felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem.  Mauris quam enim, molestie in, lobortis a, est.</p>
								<p>Praesent ac lectus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vivamus augue. Fusce eget tellus ultrices ligula volutpat adipiscing. Aenean ligula lectus, vehicula in, dictum a, fermentum nec, felis. Nunc ac turpis in leo posuere imperdiet.</p>
							</div>
						</div>
					</div>
				</div>
			</div>


<div class="post">
				<div class="bg1">
					<div class="bg2">
						<div class="bg3">
							<h2 class="title"><a href="#">Lorem ipsum sed aliquam</a></h2>
							<div class="entry">
								<p class="meta">Posted by <a href="#">Someone</a> on July 8, 2011
									&nbsp;&bull;&nbsp; <a href="#" class="comments">Comments (64)</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
								<p>Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla tortor, elementum vel, tempor at, varius non, purus. Mauris vitae nisl nec metus placerat consectetuer. Donec ipsum. Proin imperdiet est. Phasellus <a href="#">dapibus semper urna</a>. Pellentesque ornare, orci in consectetuer hendrerit, urna elit eleifend nunc, ut consectetuer nisl felis ac diam. Etiam non felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem.  Mauris quam enim, molestie in, lobortis a, est.</p>
								<p>Praesent ac lectus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vivamus augue. Fusce eget tellus ultrices ligula volutpat adipiscing. Aenean ligula lectus, vehicula in, dictum a, fermentum nec, felis. Nunc ac turpis in leo posuere imperdiet.</p>
							</div>
						</div>
					</div>
				</div>
			</div>



