<% content_for :log, false %>
<div class="post">
				<div class="bg1">
					<div class="bg2">
						<div class="bg3">
						
	<h2 class="title">Bienvenido al foro!</h2>
		<div class="entry">
			<p class="meta">Conéctate.</p>
			<p> Danos tu opinión </p>
		</div>
						</div>
					</div>
				</div>
</div>

