<h1>Listado de alumnos</h1>

<table>
  <tr>
    <th>Rut</th>
    <th>Usuario</th>
    <th>Mail</th>
    <th>Tipo</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.rut %></td>
    <td><%= user.username %></td>    
    <td><%= user.email %></td>

  </tr>
<% end %>
</table>
<%= @aa %>

sds