<div class="post">
				<div class="bg1">
					<div class="bg2">
						<div class="bg3">
<h2 class="title"> Detalle alumno </h2>
	<div class="entry">	 
<p>
  <b>User:</b>
  <%= @alumn.user_id %>
</p>

<p>
  <b>Course:</b>
  <%= @alumn.course_id %>
</p>
</div>
						</div>
					</div>
				</div>
</div>

<div id="label">
<%= link_to 'Editar', edit_alumn_path(@alumn) %> |
<%= link_to 'Ver alumnos', alumns_path %>
</div>
