<% content_for :title, "TallerHans | Cursos" %>
<div class="post">
				<div class="bg1">
					<div class="bg2">
						<div class="bg3">
<h2 class="title"> Nuevo curso </h2>
	<div class="entry">	 
	
<%= render 'form' %>
</div>
</div>
					</div>
				</div>
</div>

<div id="label">
<%= link_to 'Ver cursos', courses_path %>
</div>