
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0;
	padding: 0;
	background: #32281F url(img01.jpg) repeat-x left top;
	background-color: red;	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #19130D;
}

h1, h2, h3 {
	margin: 0px;
	padding: 0px;
	text-transform: lowercase;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #534616;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #570008;
}

a:hover {
}

#wrapper {
	width: 960px;
	margin: 0 auto;
	padding: 0;
}

/* Header */

#header {
	width: 1000px;
	height: 94px;
	margin: 0 auto;
}

/* Logo */

#logo {
	float: left;
	height: 65px;
	margin: 0;
	padding-top: 20px;
	color: #FFFFFF;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
}

#logo h1 {
	float: left;
	letter-spacing: -1px;
	text-transform: lowercase;
	font-size: 4.6em;
	color: #FFFFFF;
}

#logo p {
	float: left;
	margin: 0;
	padding: 30px 0 0 10px;
	font: normal 14px Georgia, "Times New Roman", Times, serif;
	font-style: italic;
} 

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #FFFFFF;
}

/* Search */

#search {
	float: right;
	width: 300px;
	height: 110px;
	padding: 0;
}

#search form {
	height: 41px;
	margin: 0;
	padding: 50px 0 0 20px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 195px;
	padding: 5px 5px 4px 5px;
	border: 1px solid #DEDEDE;
	background: #FFFFFF;
	text-transform: lowercase;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #703522;
}

#search-submit {
	width: 50px;
	height: 25px;
}

/* Menu */

#menu {
	width: 960px;
	height: 50px;
	margin: 0px auto;
	padding: 0px;
}

#menu ul {
	padding: 0px;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	margin-right: 3px;
	height: 35px;
	padding: 4px 20px 9px 20px;
	border: none;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #211B15;
}

#menu a:hover, #menu .current_page_item a {
}

#menu .current_page_item a {
	padding-left: 0;
}

#menu a:hover {
	text-decoration: underline;
}

/* Page */

#page {
	position:relative;
	width: 1000px;
	margin: 0px auto;
	padding: 20px 0px 0px 0px;
	clear: both;
}
#page_new {
	position:relative;
	width: 1000px;
	margin: 5px 0px 5px 0px;
	padding: 25px 0px 0px 0px;
	clear: both;
}
#page_white {
	position:relative;
	width: 1000px;
	margin: 75px 0px 5px 0px;
	padding: 25px 0px 0px 0px;
	clear: both;
}
/* Content */

#content {
	float: right;
	width: 710px;
	margin: 0px;
	padding: 0px;
}
#content_new {
	float: right;
	width: 710px;
	margin: 15px 0px 0px 0px;
	padding: 0px;
}

.post {
	position: relative;
	margin-bottom: 25px;
}

.post .title {
	padding: 30px 30px 0px 30px;
	letter-spacing: -1px;
	font-size: 38px;
	color: #FFFFFF;
}

.post .title a {
	border: none;
	color: #54040D;
}

.post .meta {
	padding-bottom: 5px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: italic;
}

.post .meta a {
}

.post .entry {
	padding: 0px 30px 20px 30px;
	padding-bottom: 20px;
	text-align: justify;
}

.links {
	display: block;
	width: 100px;
	height: 20px;
	margin-top: 20px;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	font-weight:  bold;
}

/* Sidebar */

#sidebar {
	float: left;
	width: 260px;
	margin: 0px;
	padding: 0px;
}

#sidebar ul {
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin-bottom: 30px;
	padding: 0px 20px 20px 0px;
}

#sidebar li li {
	line-height: 35px;
	padding-left: 3px;
	background: url(img07.jpg) repeat-x left bottom;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar h2 {
	margin-bottom: 20px;
	padding: 12px 0px 0px 0px;
	letter-spacing: -1px;
	color: #FFFFFF;
}

#sidebar p {
	margin: 0px 0px 20px 0px;
	padding: 10px 20px 20px 0px;
	text-align: justify;
	color: #FFFFFF;
}

#sidebar a {
	color: #FFFFFF;
}

#sidebar a:hover {
	text-decoration: underline;
}

/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Footer */

#footer-wrapper {
	position:relative;
	margin: 1000px 0px 0px 0px;
	height: 250px;
	background: url(/assets/img02.gif) repeat-x left top;
	background-color: red;
}
#footer-wrapper-fake {
	position:relative;
	margin: 20% 0px 0px 0px;
	height: 250px;
	background: url(/assets/img02.gif) repeat-x left top;
	background-color: red;	
}


#footer {
	width: 1000px;
	height: 250px;
	margin: 0px auto;
	padding: 0px 0px;
	background: url(/assets/img03.gif) no-repeat left top;
	background-color: red;
	font-family: Arial, Helvetica, sans-serif;
}

#footer p {
	margin: 0;
	padding-top: 40px;
	line-height: normal;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	color: #BD5555;
}

#footer a {
	font-weight: bold;
	color: #BD5555;
}

/* Background */

.bg1 {
	background: url(/assets/img05.jpg ) repeat-y left top;
	background-color: bbb;
}

.bg2 {
	background: url(/assets/taller/img04.jpg ) no-repeat left top;
	background-color: bbb;
}

.bg3 {
	background: url(img06.jpg ) no-repeat left bottom;
	background-color: bbb;
}



#user_nav{
	position: relative;
	float: right;
	margin-right: 10%;
}
#search_form{
	position: relative;
	float: right;
	width: 100px;
	height: 20px;
}
input#search{
	height:20px;
	width: 200px;
}
#log_in_form {
	float: right;
	width: 550px;
	height: 110px;
	padding: 0;
}
.right{
	position: relative;
	float:right;
	margin-right: 10%;
}
#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice, div#notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}
div#alert{
  color: white;
  background-color: gray;  
  width: 300px;
  border: solid 2px crimson;
  padding: 5px 10px;
  clear: both;
}
#label, #label a{
	color: white;
}
table{
	align: center;
	border-collapse:collapse;
}
th, td{
	padding:15px;
	text-align:center;
}
table, th, td, tr .grilla{
	border: 1px solid black ;
}
span.comentario{
	font-size: 8px;
	background-color:white;
	color:gray;
}

/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 

html, body {
  background-color: #4B7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}
#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}
span.aviso_pass, span.aviso_mail{
	background-color:white;
	color:red;
}
span.comentario{
	font-size: 8px;
	background-color:white;
	color:gray;
}
span { 
	/*
	background-color:red;
	color:black;
	* / 
    font-size: 10px;	
    font:bold;
}
a{
	background-color:white;
	color:black;
}
#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}
input[type=checkbox] {
  float: left;
  margin-right: 8px;
}
#user_nav{
	position: relative;
	float: right;
	margin-right: 10%;
}
#cuerpo{
	margin-left:10%;
}
table{
	border-collapse:collapse;
}
th, td{
	padding:15px;
	text-align:center;
}
table, th, td, tr .grilla{
	border: 1px solid black ;
}

p.invite{
	text-align:right;
}
div #encabezado_container, #cuerpo{
	clear:both;
}

*/