/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
html, body {
  background-color: #4B7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}
#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}
span.aviso_pass, span.aviso_mail{
	background-color:white;
	color:red;
}
span.comentario{
	font-size: 8px;
	background-color:white;
	color:gray;
}
span { 
	/*
	background-color:red;
	color:black;
	*/ 
    font-size: 10px;	
    font:bold;
}
a{
	background-color:white;
	color:black;
}
#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}
input[type=checkbox] {
  float: left;
  margin-right: 8px;
}
#user_nav{
	position: relative;
	float: right;
	margin-right: 10%;
}
#cuerpo{
	margin-left:10%;
}
table{
	border-collapse:collapse;
}
th, td{
	padding:15px;
	text-align:center;
}
table, th, td, tr .grilla{
	border: 1px solid black ;
}